<h1>About</h1>
<p>
  This is a sample app written using Sinatra and some other open source libraries for <a href="http://pennapps.com">PennApps Hackathon Fall 2012</a>. It allows the user to create a "shortcut" to a link, similar to bit.ly.

  The source code and more explanation is available on <a href="https://github.com/gterrono/pennapps-sinatra">Github</a>.
</p>

<p>
  Feel free to contact me at <a href="mailto:gterrono@seas.upenn.edu">gterrono@seas.upenn.edu</a> with any questions or suggestions.
</p>
