<h1>PennApps Sinatra!</h1>
<h3>This sample app lets you shorten any link!</h3>
<form method="post">
  <div>
    <input type="text" name="url" placeholder="Enter a URL" value=<%= @entered_data[:url] if @error %>>
  </div>
  <div class="control-group<%= ' error' if @error %>">
    <% if @error %>
      <label for="keyword"><%= @error %></label>
    <% end %>
    <input type="text" name="keyword" placeholder="Enter a custom keyword" value=<%= @entered_data[:keyword] if @error %>>
  </div>
  <button type="submit" class="btn">Submit</button>
</form> 
