<h1>PennApps Sinatra!</h1>
<h3>This demo app lets you shorten any link!</h3>
<form method="post">
  <div>
    <input type="text" name="url" placeholder="Enter a URL">
  </div>
  <div>
    <input type="text" name="keyword" placeholder="Enter a custom keyword">
  </div>
  <button type="submit" class="btn">Submit</button>
</form> 
